DJANGO_SETTINGS_MODULE=codemark_project.settings.dev
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_DATA_UPLOAD_MAX_MEMORY_SIZE=52428800
DJANGO_LOG_LEVEL=INFO
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.exmail.qq.com
DJANGO_EMAIL_PORT=465
DJANGO_EMAIL_USE_SSL=1
DJANGO_EMAIL_USE_TLS=0
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_DEFAULT_FROM_EMAIL=CodeMark <no-reply@example.com>
CODEMARK_ADMIN_USERNAME=admin
CODEMARK_ADMIN_EMAIL=
CODEMARK_ADMIN_PASSWORD=
