{% for file_info in tree.files %}
    <li class="article-item">
        <a href="/article/{{ file_info.path }}">
            {{ file_info.title }}
        </a>
    </li>
{% endfor %}
{% for subdir in tree.subdirs_list %}
    <li class="branch-item">
        <details class="branch">
            <summary>{{ subdir.dirname }}</summary>
            <ul class="article-list nested-list">
                {% include "_article_tree_index.html" with tree=subdir.tree %}
            </ul>
        </details>
    </li>
{% endfor %}
