{% for node in tree.children %}
    {% if node.node_type == "file" %}
        <li class="article-item">
            <a href="/article/{{ node.path }}">
                {{ node.title }}
            </a>
        </li>
    {% else %}
        <li class="branch-item">
            <details class="branch">
                <summary>{{ node.title }}</summary>
                <ul class="article-list nested-list">
                    {% include "_article_tree_index.html" with tree=node.tree %}
                </ul>
            </details>
        </li>
    {% endif %}
{% endfor %}
